
<div class="row justify-content-center " >
  <div class="category mb-5  col-md-10  m-2 ">
        <app-select  [categories]="allCategories" [title]="'Categories'" (selectedValue)="filterCategory($event)"></app-select>
    </div>
  <ng-container *ngIf="!loading" >
    <div class="co col-sm-5 col-md-3 card pt-1 m-3 p-3 " *ngFor="let item of allProducts"     >
       <app-product  [card]="item" (item)="addToChart($event)"></app-product>
      </div>

  </ng-container>
    <div class=" w-100 d-flex spin justify-content-center align-items-center " *ngIf="loading" >
            <app-loading></app-loading>
    </div>

</div>
<app-footer></app-footer>
