.arabic {
  font-family: "Cairo", sans-serif;
}

.notification {
  width: 20px;
  height: 20px;
  left: -10px;
}
.pages li {
  text-decoration: none;
  list-style: none;
  padding: 0px 10px;
}

.lol {
  cursor: pointer;
}
::placeholder {
  color: #302ca2;
  font-family: "Cairo", sans-serif;
  padding: 5px;
}
.search {
  padding: 10px !important;
}
.fit {
  width: fit-content !important;
}
.logo {
  width: fit-content;
  cursor: pointer;
}
.person {
  width: fit-content;
}
.bg {
  background-color: hsla(242, 57%, 40%, 0.17);
}
.co {
  color: #302ca2;
}

.pages ul a {
  text-decoration: none;
}

.nav {
  opacity: 0;
}
.all {
  z-index: 9999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
* {
  font-family: "Lobster", cursive;

  letter-spacing: 1px;
}
@media screen and (max-width: 412px) {
  .xs {
    width: auto !important;
    margin: 10px 5px;
  }
  .search {
    width: auto;
  }
}
@media screen and (max-width: 360px) {
  .search {
    width: auto !important;
  }
  .person {
    width: 40% !important;
  }
  .our-products {
    width: 40% !important;
    text-align: center;
  }
  .all {
    width: 100% !important;
    // padding:2px ;
  }
  .header {
    width: 100% !important ;
  }
}
